.middle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid #ccc; /* Softer gray border */
background-image: url('/public/images/solar-background.jpg');
}

.logo img {
  height: 80px;
  width: 200px;
  max-width: 100%;
}

.timer {
  display: flex;
  align-items: center;
  background-color: white; /* Light blue background for better contrast */
  border: 1px solid #007bff; /* Blue border for better alignment with the color scheme */
  padding: 12px 20px;
  border-radius: 4px;
  font-size: 18px;
  color: black; /* Darker blue text for readability */
  font-weight: bold;
  margin: 0 35px 0 80px;
  font-family:'Times New Roman', Times, serif;

}

.timer-text {
  margin-right: 12px;
}

.timer button {
  background-color: #007bff; /* Brighter blue for the button */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  font-family:'Times New Roman', Times, serif;

}

.timer button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.timer button:focus {
  outline: none;
}

.auth-links {
  display: flex;
  align-items: center;
}

.auth-links button {
  background-color: white;
  color: black; /* Darker blue text */
  border: solid #007bff; /* Blue border to match the timer button */
  padding: 12px 24px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  margin-right: 12px;
  font-family:'Times New Roman', Times, serif;

}

.auth-links button:hover {
  background-color: #007bff; /* Match hover color with timer button */
  color: white;
}

.auth-links button:focus {
  outline: none;
}

.auth-links button:last-child {
  margin-right: 0;
}
