.middle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid #ddd;
  background-color: rgb(39, 37, 36);
}

.logo img {
  height: 80px;
  width: 150px;
  max-width: 100%;
}

.timer {
  display: flex;
  align-items: center;
  background-color: rgba(255, 243, 224, 0.9); /* Slight transparency to blend with background */
  border: 1px solid #ff9800;
  padding: 12px 20px; /* Increased padding for a larger size */
  border-radius: 4px;
  font-size: 18px; /* Slightly larger font size */
  color: #311b8b;
  font-weight: bold;
  margin: 0 35px 0 80px; /* Added more right margin and moved to the right */
}

.timer-text {
  margin-right: 12px; /* Increased margin for spacing */
}

.timer button {
  background-color: #0056b3;
  color: white;
  border: none;
  padding: 10px 20px; /* Increased padding for a larger button */
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px; /* Slightly larger font size for the button text */
}

.timer button:hover {
  background-color: #e68900;
}

.timer button:focus {
  outline: none;
}

.auth-links {
  display: flex;
  align-items: center;
}

.auth-links button {
  background-color: white;
  color: #311b8b;
  border: solid #0056b3;
  padding: 12px 24px; /* Increased padding for a larger button */
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px; /* Slightly larger font size for the button text */
  margin-right: 12px; /* Slightly increased margin for better spacing */
}

.auth-links button:hover {
  background-color: #0056b3;
  color: white; /* Change text color on hover */
}

.auth-links button:focus {
  outline: none;
}

.auth-links button:last-child {
  margin-right: 0;
}
