/* src/components/Header/TopHeader.css */
.top-header {
  background-image: url('/public/images/solar-background1.jpg'); /* Add your background image path here */
  padding: 2px 0; /* Added some padding for better spacing */
  height: 30px; /* Slightly increased height for better readability */
  font-size: 14px;
  color: black; /* Ensure text color is black for contrast */
  text-align: center; /* Center-align the text */
  display: flex;
  padding-left: 10px; /* Move content a bit to the left */
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Center the content horizontally */
  font-family: 'Poppins', sans-serif; /* Use a clean, modern font */
}

.top-header p {
  margin: 0; /* Remove default margin */
  letter-spacing: 0.5px; /* Add slight letter spacing for readability */
  font-weight: bold; /* Lighten the font weight for a more elegant look */
}

.top-header a {
  color: #ffcc00; /* Highlight any links with a bright color */
  text-decoration: none; /* Remove underline from links */
  margin-left: 3px; /* Add space before any links */
  transition: color 0.3s ease; /* Smooth color transition */
}

.top-header a:hover {
  color: #ffffff; /* Change link color on hover */
}
